h1 {
    text-align: center;
    color: #e63946;
}

div.contenedor {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 5px;
    color: #457b9d;
    text-align: center;
}

div.contenedor2 {
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 5px;
    color: #457b9d;
    text-align: center;
}

div.contenedor:hover {
    background-color: #457b9d;
    color: #f1faee;
}

div.contenedor.oculto p {
    display: none;
}

div.contenedor.oculto:hover p {
    display: block;
    background-color: #a8dadc;
    color: #023e8a;
    padding: 15px;
}

div.contenedor.primero p:first-child {
    font-variant: small-caps;
}

div.contenedor2 p::selection {
    color: red;
    background-color: yellow;
}

div.contenedor2 p::first-line {
    font-variant: small-caps;
    color: red;
}

div.contenedor2 p::first-letter {
    font-size: 1.5em;
}

div.contenedor2 p::before {
    content: "- ";
}

div.contenedor2 p::after {
    content: " -";
}