body{
    /* color: cornsilk;
    background-color: dodgerblue;
    background-image: url("/img/fondo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover; */
    background: dodgerblue url("/img/fondo.png") no-repeat right top;
    color: cornsilk;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
    height: 1000px;
}
p {
    font-size: larger;
}